@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,500;0,600;0,700;1,100;1,500;1,600&display=swap");

:root {
  --main-color: #042c6e;
  --color-dark: #1d2231;
  --text-grey: #8398a2;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

.sidebar-brand {
  height: 90px;
  padding-left: 1rem 0rem 1rem 2rem;
  color: #fff;
  font-family: "Poppins";
}
.sidebar-brand span {
  display: inline-block;
  padding-right: 1rem;
}

.sidebar-menu {
  margin-top: 1rem;
}
.sidebar-menu li {
  width: 100%;
  margin-bottom: 1.3rem;
  padding-left: 2rem;
}

.sidebar-menu a {
  padding-left: 1rem;
  display: block;
  color: #fff;
  font-size: 1.1rem;
}
.sidebar {
  width: 345px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background: var(--main-color);
  transition: width 300ms;
}
.main-content {
  margin-left: 345px;
  height: 100%;
  transition: margin-left 300ms;
}

.sidebar-menu a span:first-child {
  font-size: 1.5rem;
  padding-left: 1rem;
}

.sidebar-menu a.active {
  background: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: var(--main-color);
  border-radius: 30px 0px 0px 30px;
}

header {
  background: #fff;
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  left: 345px;
  width: calc(100% - 345px);
  z-index: 100;
  top: 0;
  transition: width 300ms;
}

header h2 {
  color: #222;
}

header label span {
  font-size: 1.7rem;
  padding-right: 1rem;
}

.search-wrapper {
  border: 1px solid #ccc;
  border-radius: 30px;
  height: 50px;
  display: flex;
  align-items: center;
  overflow-x: hidden;
}

.search-wrapper span {
  display: inline-block;
  padding: 0rem 1rem;
  font-size: 1.5rem;
}

.search-wrapper input {
  height: 100%;
  padding: 0.5rem;
  border: none;
  outline: none;
}

.user-wrapper {
  display: flex;
  align-items: center;
}

.user-wrapper img {
  border-radius: 50%;
  margin-right: 1rem;
}

.user-wrapper h4 {
  margin-bottom: 0rem !important;
}

.user-wrapper small {
  display: inline-block;
  color: var(--text-grey);
}

main {
  margin-top: 80px;
  padding: 2rem 1rem;
  background: #f0f0f0;
  min-height: calc(100vh - 90px);
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5rem;
  margin-top: 1rem;
}

.card-single {
  display: flex;
  justify-content: space-around;
  background: #fff;
  padding: 0.5rem;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.2);
}

.card-single div:first-child span {
  color: var(--text-grey);
}

.card-single div:last-child span {
  color: var(--main-color);
  font-size: 2rem;
}

.card-single:first-child {
  background: var(--main-color);
}

.card-single:first-child h1,
.card-single:first-child div:first-child span,
.card-single:first-child div:last-child span {
  color: #fff;
}

.table {
  border-collapse: collapse;
}
.recent-grid {
  margin-top: 3.5rem;
  display: grid;
  grid-gap:0;
  
}

.card {
  background: #fff;
  border-radius: 5px;
}

.card-header,
.card-body {
  padding: 1rem;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f0f0f0;
}

.card-header button {
  background: var(--main-color);
  border-radius: 10px;
  color: #fff;
  font-size: 0.8rem;
  padding: 0.5rem;
}

thead tr {
  border-top: 2px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}

thead td {
  font-weight: 700;
}
td {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  color: var(--color-dark);
}

td .status {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin-right: 1rem;
}

tr td:last-child {
  display: flex;
  align-items: center;
}

.status.purple {
  background: purple;
}
.status.pink {
  background: deeppink;
}

.status.orange {
  background: orange;
}

.table-responsive {
  width: 100%;
  overflow-x: auto;
}


.info {
  display: flex;
  align-items: center;
}

.info img {
  border-radius: 50%;
  margin-right: 1rem;
}

.info h4 {
  font-size: 0.8rem;
  font-weight: 700;
  color: #222;
}

.info small {
  font-weight: 600;
  color: var(--text-grey);
}

.contact small {
  font-size: 1.2rem;
}

.contact span {
  font-size: 1.2rem;
  display: inline-block;
  margin-left: 0.5rem;
  color: var(--main-color);
}

@media only screen and(max-width:1200px) {
  .sidebar {
    width: 70px;
  }

  .sidebar .sidebar-brand,
  .sidebar li {
    padding-left: 1rem;
    text-align: center;
  }

  .sidebar .sidebar-brand,
  .sidebar li a {
    padding-left: 0rem;
  }

  .main-content {
    margin-left: 70px;
  }

  .main-content header {
    width: calc(100% -70px);
    left: 70p x;
  }
}

#nav-toggle:checked + .sidebar{
    width: 70px;
   }
   
   #nav-toggle:checked + .sidebar .sidebar-brand,
   #nav-toggle:checked + .sidebar li 
   {
       padding-left: 1rem;
       text-align: center;
      }
   
      #nav-toggle:checked + .sidebar .sidebar-brand,
   #nav-toggle:checked + .sidebar li a 
   {
       padding-left: 0rem;
      }
   
   
      #nav-toggle:checked + .sidebar .sidebar-brand,
   #nav-toggle:checked + .sidebar li a span
   {
       padding-left: 1rem;
      }
   
   #nav-toggle:checked + .sidebar li a span:last-child,
   #nav-toggle:checked + .sidebar .side-brand h2 span:last-child{
       display: none;
   }
   
   #nav-toggle:checked ~ .main-content{
       margin-left: 70px;
   }
   
   #nav-toggle:checked ~ .main-content header{
       width: calc(100% -70px);
       left: 70p x;
   }


  .cards input{
    border-radius: 20px;
    padding: 0.2rem 4rem;
    text-align: center;
    border-color: #042c6e;
   }