@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --color-links: #0077DC;
}

h3 {
    font-size: 24px;
    font-family: 'Bebas Neue', cursive;
    color: #042C6E;
}

body {
    font-size: 16px;
    font-family: 'Bebas Neue', cursive;
}

a {
    color: #000000;
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    width: 98%;
    margin: auto;
}

/* Navegación */
.nav-main {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
}

.nav-logo {
    width: 50px;
}

.nav-ingles {
    width: 20px;
}

.nav-español {
    width: 20px;
}

/* Nav izquierda*/
.nav-main ul {
    display: flex;
}

.nav-main ul li a{
    padding: 10px;
    display: block;
}

.nav-main ul li a:hover {
    background-color: #232b2d;
    color: var(--color-links);
}

.nav-main ul li ul {
    display: none;
}
.nav-main ul li a:hover + ul, .nav-main ul li ul:hover {
    display: block;
}

.nav-main ul.nav-menu {
    flex: 1;
    margin-left: 20px;
}

/* Slider */
.presentacion {
    height: 20vh;
    background-image: url(/img/header2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: center 55%;
}

.presentacion-text {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 15px 0;
}

.pt2 {
    font-size: 30px;
    color: #e3e3e3;
}

/*Footer*/
footer {
    width: 100%;
    height: 518px;
    bottom: 0px;
}

iframe {
    width: 100%;
    height: 520px;
    border-style: none;
    margin-bottom: none;
}