* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 24px;
    font-family: 'Bebas Neue', cursive;
    color: #042C6E;
}

body {
    font-size: 16px;
    font-family: 'Bebas Neue', cursive;
}

a {
    color: #000000;
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    background: url(/img/Leon.jpg) no-repeat;
    background-size: cover;
    width: 98%;
    margin: auto;
}

/* Navegación */
.nav-main {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
}

.nav-logo {
    width: 50px;
}

.nav-ingles {
    width: 20px;
}

.nav-español {
    width: 20px;
}

/* Nav izquierda*/
.nav-main ul {
    display: flex;
}

    .nav-main ul li {
        padding: 10px;
    }

        .nav-main ul li a:hover {
            border-bottom: 2px solid #000000;
        }

    .nav-main ul.nav-menu {
        flex: 1;
        margin-left: 20px;
    }


.destinos {
    width: 300px;
    background: white;
    padding: 10px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: #0a1349;
    box-shadow: 7px 13px 37px #000;
}

.destino1{
    padding:10px;
    margin:10px;
    /*border: 2px solid black;*/
    
    width: 250px;
}
.destino1 .button {
    width: 100%;
    background: white;
    border: none;
    padding: 12px;
    color: #0a1349;
    margin: 16px 0;
    font-size: 16px;
}

.destino2 {
    width: 300px;
    background: white;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: #0a1349;
    box-shadow: 7px 13px 37px #000;
}


.destino2 {
    padding: 10px;
    margin: 10px;
    /*border: 2px solid black;*/
    float: right;
    width: 250px;
}

    .destino2 .button {
        width: 100%;
        background: #0a1349;
        border: none;
        padding: 12px;
        color: white;
        margin: 16px 0;
        font-size: 16px;
    }


/*Footer*/
.footer {
    padding-top: 30px;
    padding-bottom: 30px;
}

.informacion {
    width: 94%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 40px 10px;
    border-radius: 50px;
    background-color: #000000;
    opacity: 0.85;
}

.logo-footer {
    width: 223px;
    height: 248px;
}

.informacion div {
    margin-left: auto;
    margin-right: auto;
}

.informacion h2 {
    color: #FFFFFF;
}

.informacion p {
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

.informacion a {
    color: #FFFFFF;
    size: 30px;
}

.footer {
    background-image: url(/img/fondo\ footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
