*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --color-links: #0077DC;
}

h1 {
    font-size: 2.5em;
    font-family: 'Bebas Neue', cursive;
    color: #042C6E;
}

h3 {
    font-size: 24px;
    font-family: 'Bebas Neue', cursive;
    color: #042C6E;
}

body {
    font-size: 16px;
    font-family: 'Bebas Neue', cursive;
}

a {
    color: #000000;
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    width: 98%;
    margin: auto;
}

/* Navegación */
.nav-main {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
}

.nav-logo {
    width: 50px;
}

.nav-ingles {
    width: 20px;
}

.nav-español {
    width: 20px;
}

/* Nav izquierda*/
.nav-main ul {
    display: flex;
}

.nav-main ul li a{
    padding: 10px;
    display: block;
}

.nav-main ul li a:hover {
    background-color: #232b2d;
    color: var(--color-links);
}

.nav-main ul li ul {
    position: absolute;
    display: none;
}
.nav-main ul li a:hover + ul, .nav-main ul li ul:hover {
    display: block;
}

.nav-main ul.nav-menu {
    flex: 1;
    margin-left: 20px;
}

/* Slider */
.presentacion {
    height: 20vh;
    background-image: url(/img/banner_granada.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: center 40%;
}

.presentacion-text {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 15px 0;
}

.pt2 {
    
    font-size: 3em;
    color: #e3e3e3;
}

h6 {
    font-size: 34px;
    font-family: 'Bebas Neue', cursive;
    color: white;
}

/*Contenedor del destino*/
.container_destino {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

/*Imagen del lugar*/
.imagen {
    width: 100%;
    height: 60vh;
    background-image: url(/img/banner_granada.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: center center;
    margin-top: 30px;
    border-radius: 1em;
}

/*Descripción del tour*/
.descripcion {
    margin-top: 30px;
}

.descripcion p {
    font-family: 'Calibri';
    font-size: 1.5em;
}

/*Mapa de tour*/
.mapa-tour {
    margin-top: 30px;
}
/*API de mapa*/
#map {
    height: 50vh;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-radius: 10px;
}

/*Estilos de la galeria*/
.gallery-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 150px;
    grid-gap: 10px;
    margin-bottom: 30px;
}

.gallery-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1em;
}

.gallery-item:nth-child(4) {
    grid-column-start: span 2;
}

.gallery-item:nth-child(5) {
    grid-row-start: span 2;
}

.gallery-item:nth-child(9) {
    grid-column-start: span 2;
}

@media (min-width:768px) {
    .gallery-container {
        grid-template-columns: repeat(4, 1fr);
    }
    .gallery-item:nth-child(3) {
        grid-column-start: span 2;
    }
    .gallery-item:nth-child(4) {
        grid-column-start: span 3;
    }
    .gallery-item:nth-child(5) {
        grid-row-start: span 3;
    }
    .gallery-item:nth-child(9) {
        grid-column-start: span 3;
    }
}

@media (min-width:1024px) {
    .gallery-container {
        grid-template-columns: repeat(5, 1fr);
    }
    .gallery-item:nth-child(1) {
        grid-column-start: span 2;
        grid-row-start: span 2;
    }
    .gallery-item:nth-child(4) {
        grid-column-start: span 3;
        grid-row-start: span 3;
    }
}

/*Itinerario*/
.box-acordion {
    width: 100%;
    margin-bottom: 30px; 
}

.acordion {
    display: block;
    background-color: #2874A6;
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
    color: white;
    text-decoration: none;
    font-family: arial;
    font-size: 20px;
    border-bottom: 1px solid #1f618D;
    border-radius: 0.5em;
}

.activo,
.acordion:hover {
    background-color: #1f618D;
}

.contenido {
    background-color: white;
    padding: 10px 20px;
    text-align: justify;
    font-family: arial;
    font-size: 17px;
    display: none;
}

/*Footer*/
footer {
    width: 100%;
    height: 518px;
    bottom: 0px;
}

iframe {
    width: 100%;
    height: 520px;
    border-style: none;
    margin-bottom: none;
}

@media screen and (max-width: 768px) {
    .lblHamburguesa {
        display: inline;
    }

    .lblHamburguesa {
        font-size: 25px;
        color: #000;
        margin-right: 20px;
        cursor: pointer;
        position: right;
    }

    .nav-menu {
        position: fixed;
        width: 100%;
        height: 0;
        top: 60px;
        left: -20px;
        background: rgba(0, 0, 0, 0.95);
        text-align: center;
        transition: all .5s;
    }

    .nav-main ul {
        display: inline;

    }



    .nav-menu ul {
        display: flex;
    }

    

    .nav-main .nav-menu-right {
        display: flex;
    }

    .nav-menu li {
        display: none;
        line-height: 30px;
        margin: 5% 0px;
        transition: all .5s;
    }

    .nav-menu li a {
        color: #fff;
        font-size: 1.1em;
        text-transform: uppercase;
        font-weight: 600;

    }

    .navServicios:hover {
        height: 20vh;
    }


    .navServicios ul {
        right: 10%;
    }

    .navServicios ul li {
        margin: -10% 0px;
    }

    .navServicios ul li a {
        font-size: 1em;
    }


    .nav-menu li a.active,
    .nav-menu li a:hover {
        color: rgb(1, 162, 255);
        transition: .3s;
    }

    #check:checked~.nav-menu {
        height: 100vh;
    }

    #check:checked~.nav-menu li {
        display: block;
    }

    .form-register {
        top: 15vh;
    }

    .presentacion-text {
        display: grid;
        margin-top: 15vh;
    }

    .presentacion-text .pt1,
    .presentacion-text .pt2 {
        margin-top: 15vh;
        text-align: center;
    }

    .ver-mas {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/pexels-pixabay-38238.jpg);
    }

    .ver-mas h1 {
        color: #fff;
        font-size: 35px;
    }



    .cards,
    .destinos,
    .suscribirse {
        display: inline-block;
        text-align: center;
    }


    .cards div,
    .destinos div {
        margin: 30px;
    }

    .cards div h3,
    .destinos div h3 {
        text-align: center;
    }

    .suscribirse {
        width: 100%;
    }

    .suscribirse div {
        padding: 0;
        margin-top: 30px;
    }

    .suscribirse h3 {
        margin-top: 43px;
        padding: 15px;
    }

    .video {
        display: inline-block;
        text-align: center;
        width: 100%;
        height: 500px;
    }

    .video .video_v {
        height: 60%;
    }

    .video .video_v iframe {
        margin-top: 30px;
        width: 100%;
        height: 100%;
    }

    .footer,
    .informacion {
        display: inline-block;
        text-align: center;
    }

    .informacion iframe {
        margin-bottom: 30px;
        margin-left: -20px;
    }

    .informacion h2,
    .informacion p {
        margin: 5px 0px;
    }






}

/*#endregion */