*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --color-links: #0077DC;
}

h3 {
    font-size: 24px;
    font-family: 'Bebas Neue', cursive;
    color: #042C6E;
}

body {
    font-size: 16px;
    font-family: 'Bebas Neue', cursive;
}

a {
    color: #000000;
    text-decoration: none;
}

ul {
    list-style: none;
}

.footer {
    padding-top: 30px;
    padding-bottom: 30px;
}

.informacion {
    width: 94%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 40px 50px;
    border-radius: 50px;
    background-color: rgba(0,0,0,.85);;
}

.logo-footer {
    width: 223px;
    height: 248px;
}

.informacion div {
    margin-left: auto;
    margin-right: auto;
}

.informacion h2 {
    color: #FFFFFF;
}

.informacion p {
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

.informacion a {
    color: #FFFFFF;
    size: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.footer {
    background-image: url(/img/fondo\ footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.derechos {
    color: #000000;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    margin-left: 40px;
    margin-top: 20px;
}