@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --color-links: #0077DC;
}

h3 {
    font-size: 24px;
    font-family: 'Bebas Neue', cursive;
    color: #042C6E;
}

body {
    font-size: 16px;
    font-family: 'Bebas Neue', cursive;
}

a {
    color: #000000;
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    width: 98%;
    margin: auto;
}

/* Navegación */
.nav-main {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
}

.nav-logo {
    width: 50px;
}

.nav-ingles {
    width: 20px;
}

.nav-español {
    width: 20px;
}

/* Nav izquierda*/
.nav-main ul {
    display: flex;
}

.nav-main ul li a{
    padding: 10px;
    display: block;
}

.nav-main ul li a:hover {
    background-color: #232b2d;
    color: var(--color-links);
}

.nav-main ul li ul {
    position: absolute;
    display: none;
}
.nav-main ul li a:hover + ul, .nav-main ul li ul:hover {
    display: block;
}

.nav-main ul.nav-menu {
    flex: 1;
    margin-left: 20px;
}

/* Slider */
.presentacion {
    height: 20vh;
    background-image: url(/img/header2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: center 55%;
}

.presentacion-text {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 15px 0;
}

.pt2 {
    font-size: 30px;
    color: #e3e3e3;
}
/*Prueba*/

.ContDescrpcion{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
}
.Des{
    flex: 1;
    min-width: 50%;
    padding: 3%;
}
.Des img{
    /*padding: 5%;*/
    width: 100%;
    height: auto;
}
.Des:first-child{
    flex: 2;
    margin-bottom: 0px;
}
.Des p {
    margin: 0;
    margin-top: 2%;
}


/*PruebaForm*/
.login-container {
    height: 100%;
    width: 50%;
    /*height: 43.75em;
    width: 60em;
    margin: 6em auto;
    border-radius: 10px;*/
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    flex-wrap: wrap;
    padding-top: 3%;
}

.login-info-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /*padding-top: 0.5rem;*/
    background-color: var(--login-bg);
}
.title {
    text-transform: capitalize;
    font-size: 2.25rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--title-bg);
}

.login-info-container > p {
    font-size: 1.25em;
    margin-top: 3%;
}

.inputs-container {
    margin-top: 4%;
    height: 55%;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.input, .btn {
    width: 90%;
    height: 3.125rem;
    font-size: 1em;
}

.input {
    padding-left: 20px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    letter-spacing: 1px;
    box-sizing: border-box;
    margin-top: 2%;
}

    .input:hover {
        border: 2px solid var(--button-bg);
    }

.btn {
    width: 80%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
    border: none;
    border-radius: 5px;
    /*background-color: var(--button-bg);*/
    background-color: #042C6E;
    cursor: pointer;
    margin-top: 8%;
}

.inputs-container p {
    margin: 0;
    margin-top: 2%;
}

.span {
    color: var(--light-pink);
    font-weight: 600;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .login-container {
        width: 70%;
        margin-top: 3rem;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }

    .login-info-container {
        width: 100%;
        border-radius: 5px;
    }

    .image-container {
        display: none;
    }
}

@media screen and (max-width: 650px) {
    .login-container {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 500px) {
    .login-container {
        height: 90%;
    }

    .social-login {
        flex-direction: column;
        align-items: center;
        height: 30%;
    }

    .login-info-container > p {
        margin: 0;
    }
}

.fecha{
    margin-top: 2%;
}
/*Footer*/
.footer{
    width:100%;
    height: 518px;
    bottom: 0px;
}
iframe{
    width: 100%;
    height: 520px;
    border-style: none;
    margin-bottom: none;
}