@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --color-links: #0077DC;
}

h3 {
    font-size: 24px;
    font-family: 'Quicksand';
    color: #042C6E;
}

body {
    font-size: 16px;
    font-family: 'Quicksand';
}

a {
    color: #000000;
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    width: 98%;
    margin: auto;
}

/* Navegación */
.nav-main {

    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
}

.nav-logo {
    width: 50px;
}

.nav-ingles {
    width: 20px;
}

.nav-español {
    width: 20px;
}

/* Nav izquierda*/
.nav-main ul {
    display: flex;
}

.nav-main ul li a{
    color: white;
    padding: 10px;
    display: block;
}

.nav-main ul li a:hover {
    background-color: #232b2d;
    color: var(--color-links);
}

.nav-main ul li ul {
    position: absolute;
    display: none;
}
.nav-main ul li a:hover + ul, .nav-main ul li ul:hover {
    display: block;
}

.nav-main ul.nav-menu {
    flex: 1;
    margin-left: 20px;
}

/* Slider */
.presentacion {
    object-fit: cover;
    height: 60vh;
    background-image: url(https://images.pexels.com/photos/1392621/pexels-photo-1392621.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: center center;
}

.presentacion-text {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 15px 0;
}


.pt2 {
    font-size: 30px;
    color: #e3e3e3;
}

/*Detalle*/
.ContDescrpcion{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin-top: 5%;
    width: 100%;
    height: auto;
}
.ImagenDes{
    margin-left: 3%;
    width: 90%;
    height: 100%;
}
.ImagenDes img{
    width: 100%;
    height: 100%;
}
.Des{
    display: flex;
    width: 90%;
    justify-content: center;
}
.Des p{
    font-size: 50px;
}

.ContDetalle{
    
    width: 100%;
    height: auto;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.VehiculoDeta{
    width: 90%;
    height: 100%;
}

.Titulo{
    display: flex;
    align-items: center;
    height: 10%;
}

.Titulo h2{
    margin-left: 10%;
    font-size: 80px;
}

.Imagem{
    width: 20%;
    height: 10%;
}

.Imagem img{
    width: 100%;
    height: 100%;
}

.ContDetalle hr{
    margin-top: 5%;

}
.DetalleVehiculo{
    margin-top: 5%;
    width: 100%;
    height: 30%;
}

.flex{
    display: flex;
    width: 100%;
    height: 100%;
}

.TituloDetalle{
    display: flex;
    align-items: center;
}

.DetalleP{
    width: 30%;
    height: 100%;
}

.DtVH{
    padding-top: 5%;
    width: 100%;
    height: 30%;
    margin-top: 3%;
}

.DetalleS{
    margin-left: 3%;
    width: 30%;
    height: 100%;
}

.DetalleT{
    margin-left: 3%;
    width: 30%;
    height: 100%;
}

.DtVH{
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.Tipo{
    padding-left: 10%;
    align-items: center;
    display: flex;
    width: 50%;
    height: 100%;
}
.des a{
    font-size: 30px;
}
.des{
    align-items: center;
    display: flex;
    width: 50%;
    height: 100%;
}
.des h2{
    
    padding-left: 10px;
}
.des1{
    align-items: center;
    display: flex;
    width: 50%;
    height: 100%;
}
.ico{
    width: 20%;
    height: 30%;   
}

.des1 img{
    width: 100%;
    height: 100%;
}
.DtVH h2{
    font-size: 50px;
}
.DtVH h3{   
    font-size: 50px;
}

/*Carrucel*/
.carrousel{
    height: auto;
    width: 100%;
}

.conteCarrousel{
    width: 100%;
    height: 700px;
    overflow: hidden;
}

.itemCarrousel{
    position: relative;
    width: 100%;
    height: 100%;
}

.itemCarrouselTarjeta{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.itemCarrouselTarjeta img{
   object-fit: cover;
    width: 80%;
   height: 80%;
   background-size: 100% 100%;
}
.itemCarrouselArrows{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px; 
}

.itemCarrouselArrows > i:hover {
    cursor: pointer;
}

.conteCarrouselController{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.conteCarrouselController > a{
    text-decoration: none;
    font-size: 2em;
    color: rgb(0, 0, 0);
}
.conteCarrouselController a:hover{
    color: dodgerblue;
}
.itemCarrouselArrows > a > i{
    font-size: 60px;
    color: black;
}

.lin{
    margin-bottom: 10%;
    border: solid 2px;
}

/*Footer*/
footer {
    margin-top: 5%;
    width: 100%;
    height: 518px;
    bottom: 0px;
}

iframe {
    width: 100%;
    height: 520px;
    border-style: none;
    margin-bottom: none;
}


/****Resposive*****/

@media (max-width: 800px){
    .Des p{
        font-size: 15px;
    }
    .Titulo h2{   
        font-size: 40px;
    }
    .itemCarrouselArrows > a > i{
        font-size: 40px;
    }
    .flex{
        display: block;
    }
    .DetalleS{ 
       width: 40%;
        margin-top: 3%;  
    }
    .DetalleT{
        width: 40%;
        margin-top: 3%;
    }
    .DtVH h2{
        font-size: 20px;
    }
    .DtVH h3{  
        font-size: 20px;
    }
    .Tipo{
        width: 50%;
        margin-left: 90%; 
    }
    .DetalleP{
        width: 40%;
        margin-left: 3%;
    }
    
}